<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ranking de Películas</title>
    <link rel="stylesheet" href="styles/styles.css">


</head>
<body>
    <h1>📊 Ranking de Películas Más Populares</h1>
    <div id="rankingPeliculas"></div>
    <ul id="listaRanking"></ul>

    <button id="volverIndex" class="volver">⬅ Volver al Inicio</button>
    
    <script src="../renderer/segunda.js"></script>
</body>
</html>
