<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles de la Película</title>
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>🎬 Detalles de la Película</h1>
    
    <img id="poster" src="" alt="Poster de la película">
    
    <h2 id="titulo">Título de la película</h2>
    <p><strong>Fecha de estreno:</strong> <span id="fecha"></span></p>
    <p><strong>Resumen:</strong> <span id="resumen"></span></p>
    <p><strong>Puntuación:</strong> <span id="puntuacion"></span></p>

    <button id="cerrarVentana">⬅ Cerrar</button>

    <script src="../renderer/tercera.js"></script>
</body>
</html>
